@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*--------------------*/
/* //?Переменные */
/*--------------------*/
/* //?Преобразования */
/*--------------------*/
/*#region*/
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

/* ограничивающий контейнер */
[class*=__container] {
  padding-top: 109px;
  padding-bottom: 30px;
  max-width: 1170px;
  margin: 0px auto;
  height: 100%;
}
@media screen and (max-width: 991px) {
  [class*=__container] {
    /* стили для больших планшетов - начало */
    padding-top: 69px;
    padding-bottom: 10px;
  }
}

body {
  background: url("../img/another/logo-black.svg") center/30%, rgb(34, 34, 38);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 479px) {
  body {
    /* стили для телефонов - начало */
    background: url("../img/another/logo-black.svg") center/60%, rgb(34, 34, 38);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

/*#endregion*/
/*--------------------*/
/*#region*/
.button {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}

/*#endregion*/
/*--------------------*/
/*#region*/
.link {
  color: rgb(236, 94, 11);
  transition: ease 0.7s;
}
.link:hover, .link:active {
  text-decoration: underline;
  text-decoration-color: rgb(236, 94, 11);
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  color: rgb(236, 94, 11);
  /*text-decoration: underline;
  text-decoration-color: $orange;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  line-height: 1.2;
  @media screen and (max-width: 479px) {
  	font-size: 30px;
  	text-underline-offset: 6px;
  	text-decoration-thickness: 2px;
  }*/
}

.list {
  padding: 0;
  list-style: none;
}

.list li {
  padding: 6px;
}

.list li:before {
  padding-right: 10px;
  font-weight: bold;
  color: rgb(236, 94, 11);
  content: "☆";
  transition-duration: 0.5s;
}

.list li:hover:before {
  color: rgb(236, 94, 11);
  content: "★";
}

/*#endregion*/
/*--------------------*/
/*#region*/
.popup {
  z-index: 30;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 25, 30, 0.6);
  top: 0;
  left: 0;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
}
@media (max-height: 605px) {
  .popup {
    padding-top: 70px;
  }
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: rgb(51, 51, 54);
  border-radius: 10px;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__map {
  margin: 0px 0px 15px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__map iframe {
  margin: 0px auto;
  display: none;
}
.popup__map img {
  width: 100%;
  display: flex;
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  color: rgb(236, 94, 11);
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .popup__close {
    /* стили для средних планшетов - начало */
    font-size: 28px;
  }
}
.popup__title {
  font-size: 40px;
  margin: 15px 0px;
}
@media screen and (max-width: 479px) {
  .popup__title {
    /* стили для телефонов - начало */
    font-size: 22px;
  }
}
.popup__subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.young-group {
  margin-bottom: 15px;
}
.young-group li {
  padding: 5px 0px;
}
.young-group li:first-child {
  font-weight: bold;
  color: rgb(236, 94, 11);
}

.senior-group {
  margin-bottom: 15px;
}
.senior-group li {
  padding: 5px 0px;
}
.senior-group li:first-child {
  font-weight: bold;
  color: rgb(236, 94, 11);
}

#btn__3 {
  width: 145px;
}

.group li:not(:first-child)::before {
  content: "";
  background: url("../img/First-training/clock.svg") center left/contain no-repeat;
  padding: 15px 0px 15px 20px;
  margin-right: 5px;
}

body.lock {
  overflow: hidden;
}

/*--------------------*/
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #353738;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #353738;
}

/*#endregion*/
/*--------------------*/
/*#region*/
.amur-club {
  background-image: url("../img/Home/top_bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0px 0px 0px 0px;
  color: white;
}
@media screen and (max-width: 991px) {
  .amur-club {
    /* стили для больших планшетов - начало */
    background-position: 20%;
  }
}
.amur-club__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
@media screen and (max-height: 550px) {
  .amur-club__body {
    /* стили для телефонов - начало */
    margin-top: 60px;
  }
}

.about-column__next-game {
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.about-column__last-game {
  padding: 10px;
  display: flex;
  justify-content: right;
}

.next-game__home {
  font-size: 60px;
  margin-bottom: 10px;
}
.next-game__away {
  font-size: 60px;
  margin-bottom: 10px;
}
@media screen and (max-width: 479px) {
  .next-game {
    /* стили для телефонов - начало */
  }
  .next-game__home {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .next-game__away {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 900px) and (max-height: 500px) {
  .next-game {
    /* стили для телефонов - начало */
  }
  .next-game__home {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .next-game__away {
    font-size: 40px;
    margin-bottom: 10px;
  }
}

.game-text {
  font-size: 28px;
  text-transform: uppercase;
  color: rgb(236, 94, 11);
  font-weight: 700;
}

.date {
  color: rgb(186, 186, 203);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.last-game__column {
  font-weight: 300;
}
.last-game__column .game-text {
  font-size: 24px;
  text-align: right;
  display: block;
  color: #fff;
  opacity: 0.92;
}
.last-game__home {
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
  background: rgb(236, 94, 11);
  text-align: left;
  min-width: 240px;
}
.last-game__away {
  font-size: 16px;
  padding: 10px;
  text-align: left;
  background: rgba(47, 47, 47, 0.85);
}

.score {
  float: right;
  padding-left: 20px;
}

/*#endregion*/
/*--------------------*/
/*#region*/
.first-training__body {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 22%, rgba(0, 0, 0, 0) 100%), url("../img/First-training/headImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 50px 0px 95px 0px;
}
@media screen and (max-width: 991px) {
  .first-training__body {
    /* стили для больших планшетов - начало */
    background-position: 25%;
  }
}
@media screen and (max-width: 479px) {
  .first-training__body {
    /* стили для телефонов - начало */
    background-position: 45%;
  }
}

.entry {
  padding: 15px 20px;
  display: inline-block;
  text-align: center;
}
.entry__title {
  font-size: 32px;
  margin-bottom: 10px;
}
.entry__text {
  font-size: 16px;
  margin-bottom: 10px;
}
.entry__btn {
  display: inline-block;
  margin-bottom: 10px;
}
@media screen and (max-width: 479px) {
  .entry {
    /* стили для телефонов - начало */
  }
  .entry .entry {
    padding: 100px 20px 100px 20px;
    backdrop-filter: blur(5px);
  }
  .entry .entry__title {
    margin: 0px 0px 20px 0px;
    font-size: 22px;
  }
  .entry .entry__text {
    margin: 0px 0px 20px 0px;
    font-size: 16px;
  }
}

/*#endregion*/
/*--------------------*/
/*#region*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 51, 54);
  z-index: 3;
}
.header__body {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  justify-content: space-between;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}
.header__list li {
  margin: 0px 10px;
}
.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  transition: ease 0.3s;
}
@media screen and (max-width: 1200.98px) {
  .header__link {
    font-size: 16px;
  }
}
.header__link.active, .header__link:hover {
  color: rgb(236, 94, 11);
  text-decoration: underline;
  text-decoration-color: rgb(236, 94, 11);
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}
.header__logo {
  height: 65px;
  position: relative;
  z-index: 5;
}
.header__logo img {
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  .header {
    /* стили для больших планшетов - начало */
  }
  .header__logo {
    height: 39px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(51, 51, 54);
    padding: 100px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    z-index: 3;
    left: 0%;
    overflow-y: auto;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
  }
  .header__link {
    font-size: 22px;
  }
}

@media screen and (max-width: 991px) {
  /* стили для больших планшетов - начало */
  body.lock {
    overflow: hidden;
  }
}
.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 10px;
}

/*#endregion*/
/* ------------------------------------------------ */
/*#region*/
.payment__body {
  color: #fff;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 10px;
  margin: 0px 20px;
}
.payment__content {
  padding: 40px 0px;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 22px;
}
@media screen and (max-width: 479px) {
  .payment__content {
    /* стили для телефонов - начало */
    padding: 20px 0px;
  }
}
@media screen and (max-height: 650px) {
  .payment__content {
    /* стили для телефонов - начало */
    padding: 20px 0px;
  }
}
.payment__row {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .payment__row {
    /* стили для больших планшетов - начало */
    flex-direction: column;
  }
}
@media screen and (max-width: 479px) {
  .payment__row {
    /* стили для телефонов - начало */
    padding: 0px 0px;
  }
}
.payment__link {
  font-size: 20px;
}
@media screen and (max-width: 400px) {
  .payment__link {
    /* стили для телефонов - начало */
    font-size: 18px;
  }
}
.payment .row__text {
  flex: 0 0 50%;
  padding: 0px 20px;
}
@media screen and (max-width: 991px) {
  .payment .row__text {
    /* стили для больших планшетов - начало */
    margin-bottom: 30px;
    text-align: center;
    flex: 1 1 auto;
  }
}
.payment .row__card {
  display: flex;
  flex: 0 0 50%;
  padding: 0px 20px;
  justify-content: center;
}

.text__title {
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 1200.98px) {
  .text__title {
    font-size: 22px;
  }
}
.text__subtitle {
  font-size: 20px;
  line-height: 1.3em;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  .text {
    /* стили для телефонов - начало */
  }
  .text__subtitle {
    font-size: 18px;
  }
}

.card-layer1 {
  transform: translateZ(-2px);
}

.card-layer2 {
  transform: translateZ(-4px);
}

.card-layer3 {
  transform: translateZ(-6px);
}

.card-layer4 {
  transform: translateZ(-2px);
  background-color: rgb(0, 0, 0);
}

.card-layer5 {
  transform: translateZ(-4px);
  background-color: rgb(0, 0, 0);
}

.card-layer6 {
  transform: translateZ(-6px);
  background-color: rgb(0, 0, 0);
}

.card-layer {
  position: absolute;
  top: 8pt;
  right: 8pt;
  left: 8pt;
  bottom: 8pt;
  border-radius: 20pt;
}

.card-plexiglass {
  background: linear-gradient(135deg, rgba(231, 234, 239, 0.125), rgba(0, 25, 42, 0.125));
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.card__content {
  position: absolute;
  top: 8pt;
  right: 8pt;
  left: 8pt;
  bottom: 8pt;
  background: linear-gradient(135deg, #6a788c, #00192a);
  border-radius: 20pt;
  transform-style: preserve-3d;
}

.card-background,
.card-foreground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20pt;
}

.card-foreground {
  background-size: 120%;
}

.card {
  position: relative;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  z-index: 0;
  padding: 20px;
  height: 331px;
  width: 430px;
}
.card__item {
  display: flex;
  flex-direction: column;
  background-color: #353738;
  border-radius: 20pt;
  transform-style: preserve-3d;
  padding: 20px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 22px;
}
@media screen and (max-width: 500px) {
  .card {
    /* стили для телефонов - начало */
    height: 280px;
    width: 340px;
  }
}
@media screen and (max-width: 390px) {
  .card {
    /* стили для телефонов - начало */
    height: 240px;
    width: 280px;
  }
}

.item__line {
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 15%;
  z-index: 10;
  top: 16%;
}

.item__number-phone {
  padding-bottom: 17%;
}
.item__number-card {
  padding-bottom: 10%;
  font-size: 24px;
}
.item__row {
  display: flex;
  gap: 60px;
  padding-bottom: 10%;
}
.item__secret-row {
  display: flex;
  align-items: center;
  position: relative;
}

.item-column {
  display: flex;
  flex-direction: column;
}

.text-column {
  font-size: 18px;
  padding-bottom: 8px;
}

.secret-box {
  width: 20%;
  height: 30px;
  background: repeating-linear-gradient(90deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px), repeating-linear-gradient(0deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px), repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px, rgba(143, 77, 63, 0.25) 10px), repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px, rgba(143, 77, 63, 0.25) 10px);
  background-color: #6a788c;
  margin-right: 10px;
}

.secret-word {
  text-transform: uppercase;
}

.secret-logo {
  position: absolute;
  right: 0;
}
.secret-logo img {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 500px) {
  /* стили для телефонов - начало */
  .card__item {
    font-size: 18px;
  }

  .secret-logo img {
    width: 100%;
    height: 35px;
  }
}
@media screen and (max-width: 390px) {
  .item__number-card {
    font-size: 18px;
  }

  .card__item {
    padding-top: 15px;
    font-size: 16px;
  }
}
/*#endregion*/
/*--------------------*/
/*#region*/
.schedule__body {
  color: #fff;
  height: 100%;
  padding: 0px 0px;
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 10px;
  margin: 0px 20px;
}
.schedule__content {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 22px;
  padding: 10px 10px 0px 10px;
}
.schedule__title h2 {
  text-align: center;
}
@media screen and (max-width: 479px) {
  .schedule__title h2 {
    /* стили для телефонов - начало */
    font-size: 22px;
    line-height: 1.5em;
  }
}
.schedule__row {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 30px;
}
@media screen and (max-width: 479px) {
  .schedule__row {
    /* стили для телефонов - начало */
    font-size: 18px;
    gap: 0;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .schedule__row {
    /* стили для средних планшетов - начало */
    gap: 0;
    margin-top: 10px;
  }
}

/*#endregion*/
/*--------------------*/
/*#region*/
.about__body {
  background-color: rgba(50, 50, 50, 0.87);
  border-radius: 10px;
  margin: 0px 20px;
}
.about__content {
  color: #fff;
  font-size: 22px;
  padding: 20px;
}
.about__title {
  text-align: center;
  margin: 20px 0px -6% 0px;
}
@media screen and (max-width: 479px) {
  .about__title {
    /* стили для телефонов - начало */
    margin: 20px 0px 0px 0px;
  }
}
.about__img {
  display: flex;
  flex: 1 1 auto;
}
.about__img img {
  width: 100%;
  height: 100%;
}
.about__text {
  line-height: 1.2;
}

.newline {
  padding: 10px 0px;
}
@media screen and (max-width: 479px) {
  .newline {
    /* стили для телефонов - начало */
    padding: 10px 0px;
  }
}

/*#endregion*/
/*--------------------*/
/*#region*/
.contacts__body {
  color: #fff;
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 10px;
  margin: 0 20px;
}
.contacts__content {
  padding: 10px 20px;
}
.contacts__title {
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 479px) {
  .contacts__title {
    /* стили для телефонов - начало */
    margin-bottom: 10px;
  }
}
.contacts__row {
  display: flex;
}
@media screen and (max-width: 479px) {
  .contacts__row {
    /* стили для телефонов - начало */
    flex-direction: column;
    gap: 30px;
  }
}
.contacts__row-block {
  flex: 1 1 33.333%;
  text-align: center;
}
.contacts__row-block:last-child h2 {
  font-size: 34px;
}
@media screen and (max-width: 479px) {
  .contacts__row-block:last-child h2 {
    /* стили для телефонов - начало */
    font-size: 24px;
  }
}
.contacts__row-block li:first-child {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 34px;
}
@media screen and (max-width: 479px) {
  .contacts__row-block li:first-child {
    /* стили для телефонов - начало */
    font-size: 24px;
  }
}
.contacts__row-block .address li:not(:first-child)::before {
  padding-right: 10px;
  font-size: 24px;
  content: "🏠";
}
@media screen and (max-width: 479px) {
  .contacts__row-block .address li:not(:first-child)::before {
    /* стили для телефонов - начало */
    font-size: 20px;
    padding-right: 5px;
  }
}
.contacts__row-block .phone li:not(:first-child)::before {
  padding-right: 10px;
  font-size: 24px;
  content: "📱";
}
@media screen and (max-width: 479px) {
  .contacts__row-block .phone li:not(:first-child)::before {
    /* стили для телефонов - начало */
    font-size: 20px;
    padding-right: 5px;
  }
}

.rules-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rules-links a {
  margin-top: 10px;
}
.rules-links a .button {
  font-size: 14px;
  text-align: center;
}

.social-img__row {
  display: flex;
  justify-content: center;
}

.social-img:not(:last-child) {
  margin-right: 20px;
}
.social-img img {
  width: 100%;
  height: 60px;
}

/*#endregion*/
/*--------------------*/
/*#region*/
.basketball-team-gallery {
  background: url("../img/gallery/background.png") top center repeat;
  position: relative;
}

.basketball-team__container {
  padding: 20px;
}
.basketball-team__content {
  background: url("../img/gallery/field.png") center center/cover no-repeat;
  padding: 30px;
  margin-top: -40px;
}
@media screen and (max-width: 479px) {
  .basketball-team__content {
    /* стили для телефонов - начало */
    margin-top: 20px;
  }
}

.basketball-team__header {
  position: absolute;
  top: -10%;
  padding-left: 45px;
}
@media screen and (max-width: 479px) {
  .basketball-team__header {
    /* стили для телефонов - начало */
    top: -8%;
    padding: 0;
    /*width: 100%;
    text-align: center;*/
  }
}
.basketball-team__header h3 {
  color: rgb(236, 94, 11);
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
}
.basketball-team__header h3 span {
  font-weight: bold;
}

.basketball-team-body {
  position: relative;
}

.slider-card__column {
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
}

.card-photo img {
  width: 100%;
}

.card-text__row {
  display: flex;
  margin-top: 10px;
}
.card-text__number {
  font-size: 57px;
  color: rgb(236, 94, 11);
  position: relative;
}
.card-text__number::before {
  content: "";
  position: absolute;
  top: 0;
  left: 115%;
  width: 1px;
  height: 100%;
  background-color: #999999;
}
@media screen and (max-width: 350px) {
  .card-text__number {
    /* стили для телефонов - начало */
    font-size: 35px;
  }
}
.card-text__column {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-text__info {
  font-size: 14px;
  color: #999999;
}
.card-text__name {
  color: #fff;
  font-size: 22px;
}
@media screen and (max-width: 479px) {
  .card-text__name {
    /* стили для телефонов - начало */
    font-size: 18px;
  }
}
@media (min-width: 480px) and (max-width: 699.9px) {
  .card-text__name {
    font-size: 36px;
  }
  .card-text__info {
    font-size: 22px;
  }
  .card-text__number {
    font-size: 60px;
  }
}

/*#endregion*/
/*--------------------*/
/*#region*/
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/*#region*/
/* Слайд */
/*.slick-slide {
}*/
/* Слайд активный */
/*.slick-slide.slick-active {
}*/
/* Слайд основной */
/*.slick-slide.slick-current {
}*/
/* Слайд по центру */
/*.slick-slide.slick-center {
}*/
/* Стрелка */
/*.slick-arrow {
}*/
/* Стрелка влево */
/*.slick-arrow.slick-prev {
}*/
/* Стрелка вправо */
/*.slick-arrow.slick-next {
}*/
/* Стрелка не активная */
/*.slick-arrow.slick-disabled {
}*/
/* Точки */
/*.slick-dots {
}*/
/*.slick-dots li {
}*/
/*.slick-dots button {
}*/
/*#endregion*/
/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 60px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}
.slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slick-arrow.slick-prev {
  left: 0;
  margin-left: 5px;
  background: url("../img/slider/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slick-arrow.slick-next {
  right: 0;
  margin-right: 5px;
  background: url("../img/slider/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.slider__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 100%;
}

/*.slider__item.slick-center {
}*/
/*#endregion*/
/*--------------------*/
/*#region*/
button {
  cursor: pointer;
}

#tab-title-dimensions_tab {
  font-size: 24px;
}

.faq,
.wc-accordion {
  color: #fff;
  margin-top: 25px;
  /* Style the accordion panel. Note: hidden by default */
}
.faq .accordion,
.wc-accordion .accordion {
  padding: 30px 0px 5px 0px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 0px;
  background: none;
  display: flex;
  border-top: 2px solid #e8f1ef;
  font-size: 1.25rem;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.faq .active,
.faq .accordion:hover,
.wc-accordion .active,
.wc-accordion .accordion:hover {
  background-color: none;
}
.faq .accordion:focus,
.wc-accordion .accordion:focus {
  text-decoration: underline;
}
.faq .active i,
.wc-accordion .active i {
  transform: rotate(90deg);
}
.faq .panel,
.wc-accordion .panel {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition-duration: 400ms;
  transition-property: max-height, visibility;
  transition-delay: 0, 400ms;
}

.panel.open {
  visibility: visible;
  transition-duration: 400ms;
  transition-property: max-height, visibility;
  transition-delay: 400ms, 0;
}
.panel.open p {
  font-size: 18px;
}

.closed .vertical {
  transition: all 0.4s ease-in-out;
  transform: rotate(-90deg);
}
.closed .horizontal {
  transition: all 0.4s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.active {
  opacity: 1;
}
.active .vertical {
  transition: all 0.4s ease-in-out;
  transform: rotate(90deg);
}
.active .horizontal {
  transition: all 0.4s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.circle-animation {
  position: relative;
  flex: 0 0 30px;
}

.circle-animation .horizontal {
  position: absolute;
  background-color: #00a97f;
  width: 20px;
  height: 3px;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -1px;
}

.circle-animation .vertical {
  position: absolute;
  background-color: #00a97f;
  width: 3px;
  height: 20px;
  left: 50%;
  margin-left: -1px;
  top: 50%;
  margin-top: -10px;
}

.questions__container {
  padding: 0 20px;
  margin: 20px auto;
}
.questions__body {
  background-color: rgba(50, 50, 50, 0.87);
  border-radius: 10px;
}
.questions__content {
  padding: 0px 20px 30px 20px;
}

.questions-title {
  padding: 10px 0px;
  text-align: center;
}

.questions-subtitle {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

/*#endregion*/